<h1>post index</h1>
<p><%= link_to "new post", new_post_path %></p>

<% @posts.each do |post| %>
  <p><%= link_to image_tag(post.image.to_s), post_path(post) %></p>
  <p><%= post.user.name %></p>
  <p><%= post.size %></p>
  <p><%= post.lure %></p>
<% end %>