<div class="container">
  <div class="image-box mt-2">
    <div class="show-image">
      <%= image_tag(@post.image.to_s) %>
    </div>
  </div>

  <div class="ditail my-5">
    <p>Angler : <%= link_to @post.user.name, user_path(@post.user_id) %></p>
    <p>Area : <%= @area.name %></p>
    <p>Size : <%= @post.size %></p>
    <p>Lure : <%= @post.lure %></p>
    <p>Tactiks : <%= @post.comment %></p>
    <p>Post_date : <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  </div>

  <p>Likes : <%= link_to @post.likes.count, post_like_path(@post) %></p>

  <% unless current_user == nil %>
    <% if current_user.already_liked?(@post) %>
    <p><%= button_to 'destroy like', post_like_path(@post), method: :delete %></p>
    <% else %>
    <p><%= button_to 'like', post_likes_path(@post) %></p>
    <% end %>
  <% end %>
  
  <!--<p>like users : </p>
  <% @post.liked_users.each do |user| %>
    <p><%= user.name %></p>
  <% end %>-->

  <% if current_user == @post.user %>
  <p><%= link_to "edit", edit_post_path(@post) %></p>
  <p><%= link_to "destroy", @post, method: :delete, data: { confirm: "この投稿を削除してもよろしいですか?" } %></p>
  <% end %>

  <p><%= link_to "コメントする", new_post_comment_path(@post) %></p>

  <% @comments.each do |comment| %>
  <p><%= comment.user.name %> : <%= comment.content %></p>
  <% end %>
</div>
