<!DOCTYPE html>
<html>
  <head>
    <title>Fishpod</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand navbar-dark fixed-top">
        <ul class="navbar-nav">
          <li class="nav-item nav-link"><%= link_to "Top", posts_path, style: "color:white;" %></li>
          <% if user_signed_in? %>
          <li class="nav-item nav-link"><%= link_to "Newpost", new_post_path, style: "color:white;" %></li>
          <li class="nav-item nav-link">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, style: "color:white;" %></li>
          <li class="nav-item nav-link"><%= link_to "Mypage", user_path(current_user), style: "color:white;" %></li>
          <% else %>
          <li class="nav-item nav-link"><%= link_to "Login", new_user_session_path, style: "color:white;" %></li>
          <li class="nav-item nav-link"><%= link_to "Signup", new_user_registration_path, style: "color:white;" %></li>
          <% end %>
          <li class="nav-item nav-link"><%= link_to "Ranking", ranking_path, style: "color:white;" %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <% unless controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "likes" %>
        <div class="foot-img mt-3">
          <div class="foot-bg-img">
            <div class="foot-text mt-5">
              <h5>produced by a.nakashima</h5>
              <i class="fab fa-sm fa-twitter"><a href="https://twitter.com/akioneway94">twitter</a></i>
            </div>
          </div>
        </div>
      <% end %>
    </footer>
    <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
    <% end %>
  </body>
</html>
