<!DOCTYPE html>
<html>
  <head>
    <title>Fishpod</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <% if controller.controller_name == "posts" && controller.action_name == "index" %>
      <div class="index-header">
        <div class="header-title">
          <h3>FISHPOD</h3>
          <div class="header-content">
            <p>Kagoshima BASS fishermans<br />community</p>
          </div>
        </div>
      </div>
    <% end %>
    
    <header>
      <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div class="pt-5" id="nav-content">
            <ul>
              <% if user_signed_in? %>
              <li><%= link_to "new post", new_post_path %></li>
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
              <li><%= link_to "mypage", user_path(current_user) %></li>
              <% else %>
              <li><%= link_to "login", new_user_session_path %></li>
              <li><%= link_to "signup", new_user_registration_path %></li>
              <% end %>
              <li><%= link_to "ranking", ranking_path  %></li>
              <li><%= link_to "posts", posts_path %></li>
            </ul>
          </div> 
        </div>
    </header>

    <%= yield %>

    <footer>
      <% unless controller.controller_name == "sessions" || controller.controller_name == "registrations" || controller.controller_name == "likes" %>
        <div class="foot-img mt-3">
          <div class="foot-text mt-5">producted by a.nakashima</div>
        </div>
      <% end %>
    </footer>
    <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert','error').gsub('notice','info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
    <% end %>
  </body>
</html>
